services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task-tracker-api
    ports:
      - "3124:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - /mnt/2TO_Projets/Programmation/docker_volumes/task-tracker:/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: task-tracker-frontend
    ports:
      - "3007:80"
    depends_on:
      - api
    restart: unless-stopped


